<div class="container">
    
  <h1>Backa Barnet</h1>

  <div class="search">
    <mat-form-field appearance="standard">
      <mat-label>Sök - namn</mat-label>
      <input matInput (keyup)="applyFilter($event)" #input>
    </mat-form-field>
    <button mat-raised-button>Nytt Upptäckt</button>
  </div>
    <h2>Barn Lista</h2>
    
    <div class="table-container">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> Namn </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
    
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Senaste ändrad </th>
        <td mat-cell *matCellDef="let element"> {{element.changed}} </td>
      </ng-container>
    
      <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef> Typ </th>
        <td mat-cell *matCellDef="let element"> {{element.Type}} </td>
      </ng-container>
  
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">inga data som matchar din sökning "{{input.value}}"</td>
      </tr>
    </table>
    </div>
</div>