<div class="container">
    
  <h1>Backa Barnet</h1>

  <div class="search">
    <mat-form-field appearance="standard">
      <mat-label>Sök - namn</mat-label>
      <input matInput #input>
    </mat-form-field>
    <button mat-raised-button routerLink="/create-discover-card">Nytt Upptäckt</button>
  </div>
    <h2>Barn Lista</h2>
    
    <div *ngIf="(persons$ | async) as persons">

    <table role="table">
      <tr>
        <th>Personnummer</th>
        <th>Namn</th>
        <th>Senaste ändrad</th>
      </tr>

      <tr *ngFor="let person of persons" style='cursor: pointer; cursor: hand;' (click)="setCurrentPerson(person)">
      <td>{{ person.personNr }}</td>
        <td>{{ person.firstName }}</td>
        <td>{{ person.changeDate }}</td>
      </tr>
    
    </table>
  </div>

    <!-- <div class="table-container">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="personNr">
        <th mat-header-cell *matHeaderCellDef> Personnummer </th>
        <td mat-cell *matCellDef="let element"><button class="choose-person" (click)="setCurrentPerson(element.personNr)">{{element.personNr}}</button></td>
      </ng-container>

      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef> Namn </th>
        <td mat-cell *matCellDef="let element"> {{element.firstName}} {{element.lastName}} </td>
      </ng-container>
    
      <ng-container matColumnDef="changeDate">
        <th mat-header-cell *matHeaderCellDef> Senaste ändrad </th>
        <td mat-cell *matCellDef="let element"> {{element.changeDate}} </td>
      </ng-container>
    
      <ng-container matColumnDef="changeBy">
        <th mat-header-cell *matHeaderCellDef> Av </th>
        <td mat-cell *matCellDef="let element"> {{element.changeBy}} </td>
      </ng-container>
  
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">inga data som matchar din sökning: "{{input.value}}"</td>
      </tr>
    </table>
    </div> -->
</div>