
h1{
    font-size: 30px;
    font-weight: bold;
}
  
h2{
  font-size: 23px;
  font-weight: bold;
  margin-top: 25px;;
}

  table {
    width: 100%;
    background-color: lightgray;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 60%;
    border-bottom: solid;
  }
td, th, tr{
  color: black;
}
  
  mat-label{
  color: black;
  }

  .search{
    width: 100%;
  }

  button{
    margin-left: 10%;
    width: 30%;
    background-color: lightgreen;
    color: black;
  }

  @media screen and (max-width: 900px){
    .search{
    display: flex;
    flex-direction: column;
    
    }

    button{
      width: 50%;
      margin-left: 25%;
    }
    .mat-form-field {
    margin-left: 20%;
    }
  }