<div class="container">
    <h1>Skapa användare</h1>

    <button class="back-button" mat-icon-button routerLink="/users">
      <span class="material-icons"> arrow_back </span>
   Tillbaka
</button>

    <div class="form-container" [formGroup]="createUserFormGroup" (change)= "isDirty= true">
      <mat-form-field appearance="fill">
        <mat-label>Användarens förnamn:</mat-label>
        <input matInput formControlName="firstNameControl">
      </mat-form-field>
      <p>{{firstNameError}}</p>

      <mat-form-field appearance="fill">
        <mat-label>Användarens efternamn:</mat-label>
        <input matInput formControlName="lastNameControl">
      </mat-form-field>
      <p>{{lastNameError}}</p>

          <mat-form-field appearance="fill">
            <mat-label>Användarens e-post:</mat-label>
            <input matInput placeholder="pat@example.com" [formControl]="email" required>
            <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
          <p>{{emailError}}</p>

          <mat-form-field appearance="fill">
            <mat-label>Användarens organisation:</mat-label>
            <input matInput formControlName="organisationControl">
          </mat-form-field>
          <p>{{organisationError}}</p>

          <mat-form-field appearance="fill">
            <mat-label>Användarens role:</mat-label>
            <mat-select [(ngModel)]="selectedRole" [ngModelOptions]="{standalone: true}">
              <mat-option value="1">Upptäckare</mat-option>
              <mat-option value="2">BarnKontakt</mat-option>
              <mat-option value="3">BarnTeam</mat-option>
              <mat-option value="4">Admin</mat-option>
            </mat-select>
            </mat-form-field>

 <mat-form-field appearance="fill" *ngIf="selectedRole== '2' || selectedRole== '3'">
  <mat-label>Enheter</mat-label>
  <mat-select [formControl]="units" multiple *ngIf="(units$ | async) as current_units">
    <mat-select-trigger>
      {{units.value ? units.value[0].unitName : ''}}
      <span *ngIf="units.value?.length > 1">
        (+{{units.value.length - 1}} {{units.value?.length === 2 ? 'other' : 'others'}})
      </span>
    </mat-select-trigger>
    <mat-option *ngFor="let unit of current_units" [value]="unit">{{unit.unitName}}</mat-option>
  </mat-select>
</mat-form-field>
<p>{{unitError}}</p>




<p>{{saveError}}</p>

<button mat-raised-button (click)="createUser()">Skapa</button>

</div>