<div class="container">
    <h1>Användarens detaljer</h1>

    <button class="back-button" mat-icon-button routerLink="/users">
        <span class="material-icons"> arrow_back </span>
     Tillbaka
  </button>
  
  <button mat-icon-button class="edit-button" (click)="moveToEdit()">
    <span class="material-icons create"> create </span>
    Ändra
    </button>
  

  
  <mat-list>

    <table role="table">
      <thead role="rowgroup">
        <tr role="row">
        </tr>
    </thead>

    <tbody role="rowgroup">
     <tr role="row">
      <td>Namn:</td>
      <td></td>
     </tr>

     <tr role="row">
      <td>E-post:</td>
      <td></td>
     </tr>

     <tr role="row">
      <td>Organisation:</td>
      <td></td>
     </tr>

     <tr role="row">
      <td>Nummer:</td>
      <td></td>
     </tr>

     <tr role="row">
      <td>Arbetsplats:</td>
      <td></td>
     </tr>
    </tbody>
    </table>
   
        <mat-divider></mat-divider>

        <mat-list-item>Enheter:</mat-list-item>
        <ul>
          <li *ngFor="let unit of unitList; let i= index;">{{unit}}</li>
        </ul>  
    
        <mat-divider></mat-divider>
    
    
    </mat-list>
</div>