<div class="container">

    <h1>Ändra användaren</h1>

    <button class="back-button" mat-icon-button routerLink="/users">
        <span class="material-icons"> arrow_back </span>
     Tillbaka
  </button>


  <div class="form-container" [formGroup]="createUserFormGroup" *ngIf="(user$ | async) as user">
    <mat-form-field appearance="fill">
      <mat-label>Användarens e-post</mat-label>
      <input disabled matInput value="{{user.email}}">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Användarens namn</mat-label>
      <input matInput formControlName="nameControl" [(ngModel)]="user.firstName">
    </mat-form-field>
    <p>{{nameError}}</p>

        <mat-form-field appearance="fill">
          <mat-label>Användarens organisation:</mat-label>
          <mat-select [(ngModel)]="selectedOrganisation" [ngModelOptions]="{standalone: true}">
            <mat-option value="0">CGI</mat-option>
            <mat-option value="1">Police</mat-option>
            <mat-option value="2">Kommun</mat-option>
          </mat-select>
          </mat-form-field>


        <mat-form-field appearance="fill">
          <mat-label>Användarens role:</mat-label>
          <mat-select [(ngModel)]="selectedRole" [ngModelOptions]="{standalone: true}">
            <mat-option (click)="changeRole(0)" [value]="1">Upptäckare</mat-option>
            <mat-option (click)="changeRole(1)" [value]="2">BarnKontakt</mat-option>
            <mat-option (click)="changeRole(2)" [value]="3">BarnTeam</mat-option>
          </mat-select>
          </mat-form-field>

<mat-form-field appearance="fill" *ngIf="selectedRole== '2' || selectedRole== '3'">
<mat-label>Enheter</mat-label>
<mat-select [formControl]="units" multiple *ngIf="(units$ | async) as current_units">
  <mat-select-trigger>
    {{units.value ? units.value[0] : ''}}
    <span *ngIf="units.value?.length > 1">
      (+{{units.value.length - 1}} {{units.value?.length === 2 ? 'other' : 'others'}})
    </span>
  </mat-select-trigger>
  <mat-option *ngFor="let unit of current_units" [value]="unit.unitName">{{unit.unitName}}</mat-option>
</mat-select>
</mat-form-field>
<p>{{unitError}}</p>




<p>{{saveError}}</p>

      <button mat-raised-button (click)="save()">Spara</button>
      <button mat-raised-button style="background-color: brown;" (click)="delete()">Ta bort</button>

</div>