<div class="container">

    <h1>Ändra användaren</h1>

    <button class="back-button" mat-icon-button routerLink="/users">
        <span class="material-icons"> arrow_back </span>
     Tillbaka
  </button>


  <div class="form-container">
    <mat-form-field appearance="fill">
      <mat-label>Användarens e-post</mat-label>
      <input disabled matInput value="{{user.email}}">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Användarens förnamn:</mat-label>
      <input matInput [(ngModel)]="user.firstName" [ngModelOptions]="{standalone: true}">
    </mat-form-field>
    <p>{{firstNameError}}</p>

    <mat-form-field appearance="fill">
      <mat-label>Användarens efternamn:</mat-label>
      <input matInput [(ngModel)]="user.lastName" [ngModelOptions]="{standalone: true}">
    </mat-form-field>
    <p>{{lastNameError}}</p>

    <mat-form-field appearance="fill">
      <mat-label>Användarens organisation:</mat-label>
      <input matInput [(ngModel)]="user.organisaton" [ngModelOptions]="{standalone: true}">
    </mat-form-field>
    <p>{{organisationError}}</p>


        <mat-form-field appearance="fill">
          <mat-label>Användarens role:</mat-label>
          <mat-select [(ngModel)]="user.roleID" [ngModelOptions]="{standalone: true}">
            <mat-option [value]="1">Upptäckare</mat-option>
            <mat-option [value]="2">BarnKontakt</mat-option>
            <mat-option [value]="3">BarnTeam</mat-option>
            <mat-option [value]="4">Admin</mat-option>
          </mat-select>
          </mat-form-field>
<!-- 
        <mat-form-field appearance="fill" *ngIf="user.roleID== '2' || user.roleID== '3'">
        <mat-label>Enheter</mat-label>
        <mat-select [formControl]="units" multiple *ngIf="(units$ | async) as current_units">
          <mat-select-trigger>
            {{units.value ? units.value[0].Name : ''}}
            <span *ngIf="units.value?.length > 1">
              (+{{units.value.length - 1}} {{units.value?.length === 2 ? 'other' : 'others'}})
            </span>
          </mat-select-trigger>
          <mat-option *ngFor="let unit of current_units" [value]="{Name: unit.unitName, ID: unit.unitID}">{{unit.unitName}}</mat-option>
        </mat-select>
        </mat-form-field>
        <p>{{unitError}}</p> -->




<p>{{saveError}}</p>

      <button mat-raised-button (click)="save()">Spara</button>
      <button mat-raised-button style="background-color: brown;" (click)="delete()">Ta bort</button>

</div>