<div class="container">

  <h1>Kontaktuppgifter</h1>
  <h4 *ngIf=" !(current_person$ | async) as current_person">
    Välj ett barn först</h4>

    
  <div *ngIf="(current_person$ | async) as current_person">

  <h4>Information om {{current_person.firstName}}</h4>


<mat-form-field appearance="fill">
    <mat-label>Namn</mat-label>
    <input matInput disabled value="{{current_person.firstName}} {{current_person.lastName}}">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Personnummer</mat-label>
    <input matInput disabled value="{{current_person.personNbr}}">
  </mat-form-field>

</div>

</div>