<div class="container">
    <h1>Kontaktuppgifter</h1>
<h4>Information om Kalle</h4>


<mat-form-field appearance="fill">
    <mat-label>Namn</mat-label>
    <input matInput>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Personsnummer</mat-label>
    <input matInput>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Adress</mat-label>
    <input matInput>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Nuvarande adress om annan finns</mat-label>
    <input matInput>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Postnummer</mat-label>
    <input matInput>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Postnummer</mat-label>
    <input matInput>
  </mat-form-field>

  <button mat-raised-button>Spara</button>

</div>