h1{
    font-size: 30px;
    font-weight: bold;
  }
  h4{
    font-size: 20px;
    margin-bottom: 30px;
  }

  h5{
    font-size: 15px;
    font-weight: bold;
  }
  h6{
    font-size: 15px;
  }
  
  .add-plan{
    background-color: #cde7e6;
    color: black;
    width: 25%;
    margin-left: 75%;
    margin-bottom: 20px;
  }

  .current-event-container{
      background-color: whitesmoke;
      margin-bottom: 15px;
      padding: 15px;
  }

  button{
    width: 25%;
    background-color: #cde7e6;
    color: black;
    margin-left: 75%;
  }

  .container-2{
    display: inline-block;
    width: 45%;
    margin-right: 5%;
    margin-top: 15px;
  }

  @media only screen and (max-width: 800px) {
    button{
      width: 50%;
      margin-left: 25%;
      }
      .container-2{
        width: 100%;
      }
  }