<div class="container">
        <h1>Min plan framåt</h1>
        <h4>Pågående insatser</h4>
        <button mat-raised-button class="add-plan" routerLink="/create-plan">Lägg till<span class="material-icons">create</span></button>

        <div class="current-event-container">
            <h5>Händelse</h5>
            <p>
                He determined to drop his litigation with the monastry, and relinguish his claims to the wood-cuting and fishery rihgts at once.
                 He was the more ready to do this becuase the rights had becom much less valuable, and he had indeed the vaguest idea where the 
                 wood and river in quedtion were.</p>
            <h5>Insats</h5>
            <p>
                He determined to drop his litigation with the monastry, and relinguish his claims to the wood-cuting and fishery rihgts at once.
                 He was the more ready to do this becuase the rights had becom much less valuable, and he had indeed the vaguest idea where the
                  wood and river in quedtion were.</p>

            <div class="container-2">
                <h5>Ansvarig för insatsen</h5>
                <h6>Mats Sundberg - Lärare Svalekolan</h6>
    
            </div>

            <div class="container-2">
                <h5>Start daturm</h5>
                <h6>2020-11-10</h6>
    
            </div>

            <button mat-raised-button>Insats avslutad</button>

        </div>

        <div class="current-event-container">
            <h5>Händelse</h5>
            <p>
                He determined to drop his litigation with the monastry, and relinguish his claims to the wood-cuting and fishery rihgts at once.
                 He was the more ready to do this becuase the rights had becom much less valuable, and he had indeed the vaguest idea where the
                  wood and river in quedtion were.</p>

        </div>

    </div>