

h1{
    font-size: 30px;
    font-weight: bold;
  }
  h4{
    font-size: 20px;
  }
  h3{
    font-size: 17px;
    font-weight: bold;
  }
  .add-event{
    background-color: lightgreen;
    color: black;
    width: 15%;
    margin-left: 85%;
    margin-bottom: 20px;
  }

  .items-container {
    display: flex;
  }
  .item {
    padding: 10px;
  }