<div class="container">
    <h1>Tidigare händelser</h1>   
    <h4>Insatser ch viktiga händelser i Kalles liv</h4>

    <button mat-raised-button class="add-event" routerLink="/create-event">Lägg till<span class="material-icons">create</span></button>

    <mat-stepper orientation="vertical">
        <mat-step>
          <ng-template matStepLabel>Step 1</ng-template>
          <ng-template matStepContent>
            <p>This content was rendered lazily</p>
            <button mat-button matStepperNext>Next</button>
          </ng-template>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Step 2</ng-template>
          <ng-template matStepContent>
            <p>This content was also rendered lazily</p>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </ng-template>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Step 3</ng-template>
          <p>This content was rendered eagerly</p>
          <button mat-button matStepperPrevious>Back</button>
        </mat-step>
      </mat-stepper>

</div>