<div class="container">
    <h1>Tidigare händelser</h1>   
    <h4>Insatser och viktiga händelser i Kalles liv</h4>

    <button mat-raised-button class="add-event" routerLink="/create-event">Lägg till<span class="material-icons">create</span></button>

    <div class="title-container">
      <div class="date-title"><h4><strong>Datum</strong></h4></div>
      <div class="effort-title"><h4><strong>Händelse</strong></h4></div>
      <div class="aide-title"><h4><strong>Medhjälpare</strong></h4></div>
    </div>

 <div class="timeline-continer" >
<ul id='timeline'>
  <li class='work' *ngFor="let elemet of ELEMENT_DATA;  let i = index">
    <input class='radio' id='work{{i+1}}' name='works' type='radio' checked>
    <div class="relative">
      <label for='work{{i+1}}'>{{elemet.title}}</label>
      <span class='date'>{{elemet.date}}</span>
      <span class='circle'></span>
    </div>
    <div class='content'>
      <div class="text-container">
      <p>{{elemet.description}}</p>
    </div>
  </div>
    <div class="responsible">
    <p><strong>{{elemet.responsible}}</strong></p>
    <p>{{elemet.role}}</p>
    </div>
  </li>
</ul>
</div>
</div>