h1{
    font-size: 30px;
    font-weight: bold;
}

 
table {
  border-collapse: collapse;
  width: 100%;
  background-color: whitesmoke;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {background-color: #f2f2f2;}

tr:hover td {
  border-top: 1px solid #663399;
  border-bottom: 2px solid #663399;
}

  mat-label{
    color: black;
    }

    .mat-form-field {
        font-size: 14px;
        width: 60%;
        margin-bottom: 15px;
        height: 55px;
      }

      button{
        margin-top: 30px;
        margin-left: 5%;
        width: 25%;
        background-color: #cde7e6;
        color: black;
        margin-bottom: 15px;
    
      }

      .material-icons { 
        font-size: 30px;
        color: #663399;
      }
      
      .back-button{
      color: #663399;
      size: 16px;
      background-color: transparent;
      width: 10%;
      margin-left: 0%;
      }
      
      @media screen and (max-width: 600px){
        table, thead, tbody, th, td, tr {
          display: block;
          }
          
          thead tr {
          position: absolute;
          top: -9999px;
          left: -9999px;
          }
          
          tr {
          margin: 0 0 1rem 0;
          }
          
          tr:nth-child(odd) {
          background: #ccc;
          }
          
          td {
          border: none;
          border-bottom: 1px solid #eee;
          position: relative;
          padding-left: 50%;
          margin-bottom: 20px;
          }
          
          td:before {
          position: absolute;
          top: 0;
          left: 6px;
          width: 50%;
          padding-right: 10px;
          white-space: nowrap;
          }
          
          td:nth-of-type(1):before { content: "Namn"; }
          td:nth-of-type(2):before { content: "Status"; }
          td:nth-of-type(3):before { content: "Datum"; }
        .lockButton{
          width: 40%;
        }
      }