<div class="container">
    <h1>Admin sida</h1>

    <div class="search">
      <mat-form-field appearance="standard">
        <mat-label>Sök - namn eller datum
        </mat-label>
        <input matInput (keyup)="applyFilter1($event)" #input>  
      </mat-form-field>
      <button mat-raised-button routerLink="/create-barnteam">Nytt barnteam</button>
    </div>
      <h2>Barnteam lista</h2>
         
  
      
  <table role="table">
    <thead role="rowgroup">
      <tr role="row">
        <th role="columnheader">Datum</th>
        <th role="columnheader">Namn</th>
      </tr>
    </thead>
    <tbody role="rowgroup" *ngIf="searchPersons1.length==0">
      <tr role="row" *ngFor="let person of persons; let i= index">
        <td role="cell">{{person.personNbr.slice(2, 12)}}</td>
        <td role="cell">{{person.name}}</td>
      </tr>
    </tbody>
    <tbody *ngIf="searchPersons1.length!=0">
      <tr role="row" *ngFor="let person of searchPersons1; let i= index">
        <td role="cell">{{person.personNbr.slice(2, 12)}}</td>
        <td role="cell">{{person.name}}</td>
      </tr>
    </tbody>
  </table>
  

  <div class="search">
    <mat-form-field appearance="standard">
      <mat-label>Sök - E-post, namn, organisation eller role
      </mat-label>
      <input matInput (keyup)="applyFilter2($event)" #input>  
    </mat-form-field>
    <button mat-raised-button routerLink="/create-user">Ny användare</button>
  </div>
    <h2>Användare lista</h2>
       

    
<table role="table">
  <thead role="rowgroup">
    <tr role="row">
      <th role="columnheader">E-post</th>
      <th role="columnheader">Namn</th>
      <th role="columnheader">Organisation</th>
      <th role="columnheader">Role</th>
    </tr>
  </thead>
  <tbody role="rowgroup" *ngIf="searchPersons2.length==0">
    <tr role="row" *ngFor="let person of persons; let i= index">
      <td role="cell">{{person.personNbr.slice(2, 12)}}</td>
      <td role="cell">{{person.name}}</td>
      <td role="cell">{{person.changedOn.slice(0, 10)}}</td>
      <td role="cell">{{person.status}}</td>
    </tr>
  </tbody>
  <tbody *ngIf="searchPersons2.length!=0">
    <tr role="row" *ngFor="let person of searchPersons2; let i= index">
      <td role="cell">{{person.personNbr.slice(2, 12)}}</td>
      <td role="cell">{{person.name}}</td>
      <td role="cell">{{person.changedOn.slice(0, 10)}}</td>
      <td role="cell">{{person.status}}</td>
    </tr>
  </tbody>
</table>

</div>