<div class="container">
    

    <div class="container-signin">

<!--       <img src="../../pictures/happy.svg" alt="Backa Barnet"/>
 -->
 <img
 src="../../pictures/happy.svg"
 alt="triangle with all three sides equal"
 height="87"
 width="100" />

        <form class="container-signin-form">

            <mat-form-field appearance="fill">

              <mat-label>Användarnamn</mat-label>
              <input matInput type="email" [formControl]="emailFormControl" name="email" [(ngModel)]="email">
              <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                Ange en giltig e-postadress
              </mat-error>
              <mat-error *ngIf="emailFormControl.hasError('required')">
                E-postadress <strong>krävs</strong>
              </mat-error>
            </mat-form-field>
          
            <mat-form-field appearance="fill">
                <mat-label>Lösenord</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]='enteredPassword' name="enteredPassword">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>

            <button mat-raised-button class="sign-in-button" (click)="signIn()">Logga in</button>
            <button mat-raised-button class="sign-in-button">Glöm lösenord</button>

            <p>{{signinError}}</p>
          </form>


</div>


</div>