<div class="container">

    
    <div class="rectangular-container">
        <div class="rectangular"></div>
        <div class="rectangular-points-container">

        
            <div class="rectangular-point-container"></div>
            <div class="rectangular-point-container"></div>
            <div class="rectangular-point-container"></div>
            <div class="rectangular-point-container"></div>
            
            
            <div class="rectangular-point-container"></div>
            <div class="rectangular-point-container"></div>
            <div class="rectangular-point-container"></div>
            <div class="rectangular-point-container"></div>
            
            
            <div class="rectangular-point-container"></div>
            <div class="rectangular-point-container"></div>
            <div class="rectangular-point-container"></div>
            <div class="rectangular-point-container"></div>
            
            
            <div class="rectangular-point-container"></div>
            <div class="rectangular-point-container"></div>
            <div class="rectangular-point-container"></div>
            <div class="rectangular-point-container"></div>
            
            
            </div>
    </div>

    <div class="signin-container">
    <h1>
        Backa barnet
    </h1>
    <input type="text" id="email" placeholder="Användarnamn">
    <input type="text" id="password" placeholder="Lösenord">
    <button class="signin-button">Logga in</button>
</div>

<div class="points-container">

        
<div class="point-container"></div>
<div class="point-container"></div>
<div class="point-container"></div>
<div class="point-container"></div>


<div class="point-container"></div>
<div class="point-container"></div>
<div class="point-container"></div>
<div class="point-container"></div>


<div class="point-container"></div>
<div class="point-container"></div>
<div class="point-container"></div>
<div class="point-container"></div>


<div class="point-container"></div>
<div class="point-container"></div>
<div class="point-container"></div>
<div class="point-container"></div>


</div>
</div>