h1{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 40px;
}

.container-signin {
    display:flex;
    flex-direction:column;
    position:relative;
    height: 100%;
    width:60%;
    margin-left:20%;
}

.container-signin-form {
    display:flex;
    flex-direction:column;
    width: 100%;
}

.container-signin > h1 {
    margin-top:20%;
}

button{
background-color: lightgreen;
color: black;
}

.sign-in-button{
    width: 30%;
    margin-left: 70%;
    margin-top: 10px;
}


mat-label{
    color: black;
}

/* To display a border for the input */
mat-form-field{
    border: 1px solid #663399 !important;
    margin-bottom: 10px;
 }

 p{
    margin-top: 15px;
    color: brown;
    font-size: 15px;
 }

@media only screen and (max-width: 800px) {
    .sign-in-button{
        width: 50%;
        margin-left: 25%;
    }
  }