h1{
    font-size: 30px;
    font-weight: bold;
  }

  h4{
    font-size: 20px;
  }

  .example-container {
    height: 400px;
    width: 550px;
    max-width: 100%;
    overflow: auto;
  }
  
  table {
    width: 800px;
    background-color: whitesmoke;
  }
  
  td, th, tr{
    color: black;
  }
  
  td.mat-column-star {
    width: 20px;
    padding-right: 8px;
  }
  
  th.mat-column-position, td.mat-column-position {
    padding-left: 8px;
  }
  
  .mat-table-sticky-border-elem-right {
    border-left: 1px solid #e0e0e0;
  }
  
  .mat-table-sticky-border-elem-left {
    border-right: 1px solid #e0e0e0;
  }

  
/* 
mat-stepper{
    background-color: whitesmoke;
}

::ng-deep .mat-step-text-label{
    color: black;
}

mat-form-field{
  margin-right: 10%;
  width: 100%;
  margin-bottom: 20px;
}
input{
  color: black;
  }
  mat-label{
    color: black;
}


 p{
    margin-top: 15px;
    color: brown;
    font-size: 15px;
 }

h5{
    font-size: 20px;
    text-align: center;
    color: white;
    padding: 10px;
  }

  ::ng-deep .mat-step-header .mat-step-icon{
    background-color: #663399;
  }

  mat-button-toggle{
    width: 20%;
}

mat-button-toggle-group{
    width: 100%;
    margin-bottom: 20px;
}

::ng-deep #care-form {
    h5{
        background-color: #003686;
      }

    .mat-button-toggle-appearance-standard {
    background-color: #003686;
    }
    .mat-button-toggle.mat-button-toggle-checked {
        color:  #003686;
        background-color: white;
    }
    .mat-form-field{
      border: 2px solid #003686 !important;
    }
}

::ng-deep #security-form {
    h5{
        background-color: #353370;
      }

      .mat-button-toggle-appearance-standard {
        background-color: #353370;
        }
        .mat-button-toggle.mat-button-toggle-checked {
            color:  #353370;
            background-color: white;
        }
        .mat-form-field{
          border: 2px solid #353370 !important;
        }    
    }

::ng-deep #feelgood-form {
    h5{
        background-color: #e0448c;
      }

      .mat-button-toggle-appearance-standard {
        background-color: #e0448c;
        }
        .mat-button-toggle.mat-button-toggle-checked {
            color:  #e0448c;
            background-color: white;
        }
        .mat-form-field{
          border: 2px solid #e0448c !important;
        }
    }

::ng-deep #freetime-form {
    h5{
        background-color: #df2d5b;
      }

      .mat-button-toggle-appearance-standard {
        background-color: #df2d5b;
        }
        .mat-button-toggle.mat-button-toggle-checked {
            color:  #df2d5b;
            background-color: white;
        }
        .mat-form-field{
          border: 2px solid #df2d5b !important;
        }
    }

::ng-deep #beloning-form {
    h5{
        background-color: #eb612d;
      }


      .mat-button-toggle-appearance-standard {
        background-color: #eb612d;
        }
        .mat-button-toggle.mat-button-toggle-checked {
            color:  #eb612d;
            background-color: white;

        }
        .mat-form-field{
          border: 2px solid #eb612d !important;
        }
    }

::ng-deep #responsibility-form {
    h5{
        background-color: #f79c2e;
      }

      .mat-button-toggle-appearance-standard {
        background-color: #f79c2e;
        }
        .mat-button-toggle.mat-button-toggle-checked {
            color:  #f79c2e;
            background-color: white;

        }
        .mat-form-field{
          border: 2px solid #f79c2e !important;
        }
    }


::ng-deep #respekt-form {
    h5{
        background-color: #4ba562;
      }

      .mat-button-toggle-appearance-standard {
        background-color: #4ba562;
        }
        .mat-button-toggle.mat-button-toggle-checked {
            color:  #4ba562;
            background-color: white;
        }
        .mat-form-field{
          border: 2px solid #4ba562 !important;
        }    
    }


::ng-deep #develop-form {
    h5{
        background-color: #31acaf;
      }

      .mat-button-toggle-appearance-standard {
        background-color: #31acaf;
        }
        .mat-button-toggle.mat-button-toggle-checked {
            color:  #31acaf;
            background-color: white;
        }
        .mat-form-field{
          border: 2px solid #31acaf !important;
        }    
    } */