
<div class="container">

    <h1>Skattningsformulär</h1>
    <h4>För personal</h4>


    <mat-stepper #stepper orientation="vertical">
        <mat-step>
<!--         [stepControl]="firstFormGroup"
         errorMessage="Name is required."
 -->         
          <form id="care-form">
          <!-- [formGroup]="firstFormGroup" -->
        
            <ng-template matStepLabel>OMSORG</ng-template>
            <h5>OMSORG</h5>

            <mat-form-field appearance="fill">
                <mat-label>Barnet har någon att lita på och vända sig till när det behövs</mat-label>
                <mat-select panelClass="care" [(ngModel)]="care_1" name="care_1">
                  <mat-option value="1">1</mat-option>
                  <mat-option value="2">2</mat-option>
                  <mat-option value="3">3</mat-option>
                  <mat-option value="4">4</mat-option>
                  <mat-option value="5">5</mat-option>
                </mat-select>
        
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Barnet har tillgängliga vuxna som uppmuntrar och uppmärksammar det</mat-label>
                <mat-select panelClass="care" [(ngModel)]="care_2" name="care_2">
                  <mat-option value="1">1</mat-option>
                  <mat-option value="2">2</mat-option>
                  <mat-option value="3">3</mat-option>
                  <mat-option value="4">4</mat-option>
                  <mat-option value="5">5</mat-option>
                </mat-select>

              </mat-form-field>           
              <mat-form-field appearance="fill">
                <mat-label>Barnet får kognitiv stimulans av vuxna i sin närhet</mat-label>
                <mat-select panelClass="care" [(ngModel)]="care_3" name="care_3">
                  <mat-option value="1">1</mat-option>
                  <mat-option value="2">2</mat-option>
                  <mat-option value="3">3</mat-option>
                  <mat-option value="4">4</mat-option>
                  <mat-option value="5">5</mat-option>
                </mat-select>

              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Barnet får extra stöd och vård när det behövs</mat-label>
                <mat-select panelClass="care" [(ngModel)]="care_4" name="care_4">
                  <mat-option value="1">1</mat-option>
                  <mat-option value="2">2</mat-option>
                  <mat-option value="3">3</mat-option>
                  <mat-option value="4">4</mat-option>
                  <mat-option value="5">5</mat-option>
                </mat-select>

              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Barnet bor i en miljö som är anpassad efter barnets behov samt främjar dess utveckling</mat-label>
                <mat-select panelClass="care" [(ngModel)]="care_5" name="care_5">
                  <mat-option value="1">1</mat-option>
                  <mat-option value="2">2</mat-option>
                  <mat-option value="3">3</mat-option>
                  <mat-option value="4">4</mat-option>
                  <mat-option value="5">5</mat-option>
                </mat-select>

              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Barnet har någon som ser till att hen är ren och lämpligt klädd efter årstid</mat-label>
                <mat-select panelClass="care" [(ngModel)]="care_6" name="care_6">
                  <mat-option value="1">1</mat-option>
                  <mat-option value="2">2</mat-option>
                  <mat-option value="3">3</mat-option>
                  <mat-option value="4">4</mat-option>
                  <mat-option value="5">5</mat-option>
                </mat-select>

              </mat-form-field>
            <div>
              <button mat-button matStepperNext>Nästa</button>
            </div>
          </form>
        </mat-step>

        <mat-step>
          <form id="security-form">
            <ng-template matStepLabel>TRYGGHET</ng-template>
            <h5>TRYGGHET</h5>

            <mat-form-field appearance="fill">
                <mat-label>Barnet känner sig trygg hemma, i skolan, på nätet och i sin närmiljö</mat-label>
                <mat-select panelClass="security" [(ngModel)]="security_1" name="security_1">
                  <mat-option value="1">1</mat-option>
                  <mat-option value="2">2</mat-option>
                  <mat-option value="3">3</mat-option>
                  <mat-option value="4">4</mat-option>
                  <mat-option value="5">5</mat-option>
                </mat-select>

              </mat-form-field>            
              <mat-form-field appearance="fill">
                <mat-label>Barnet skyddas från kränkningar </mat-label>
                <mat-select panelClass="security" [(ngModel)]="security_2" name="security_2">
                  <mat-option value="1">1</mat-option>
                  <mat-option value="2">2</mat-option>
                  <mat-option value="3">3</mat-option>
                  <mat-option value="4">4</mat-option>
                  <mat-option value="5">5</mat-option>
                </mat-select>

              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Barnet skyddas från fysiska faror och hälsofaror i och utanför hemmet</mat-label>
                <mat-select panelClass="security" [(ngModel)]="security_3" name="security_3">
                  <mat-option value="1">1</mat-option>
                  <mat-option value="2">2</mat-option>
                  <mat-option value="3">3</mat-option>
                  <mat-option value="4">4</mat-option>
                  <mat-option value="5">5</mat-option>
                </mat-select>

              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Barnet visar förmåga att bedöma och hantera situationer som kan innebära en risk både för barnet själv och andra</mat-label>
                <mat-select panelClass="security" [(ngModel)]="security_4" name="security_4">
                  <mat-option value="1">1</mat-option>
                  <mat-option value="2">2</mat-option>
                  <mat-option value="3">3</mat-option>
                  <mat-option value="4">4</mat-option>
                  <mat-option value="5">5</mat-option>
                </mat-select>

              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Barnet litar på de som finns i dess närhet, såväl barn som vuxna</mat-label>
                <mat-select panelClass="security" [(ngModel)]="security_5" name="security_5">
                  <mat-option value="1">1</mat-option>
                  <mat-option value="2">2</mat-option>
                  <mat-option value="3">3</mat-option>
                  <mat-option value="4">4</mat-option>
                  <mat-option value="5">5</mat-option>
                </mat-select>

              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Barnet skyddas från att bli utnyttjat av andra</mat-label>
                <mat-select panelClass="security" [(ngModel)]="security_6" name="security_6">
                  <mat-option value="1">1</mat-option>
                  <mat-option value="2">2</mat-option>
                  <mat-option value="3">3</mat-option>
                  <mat-option value="4">4</mat-option>
                  <mat-option value="5">5</mat-option>
                </mat-select>

              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Barnet skyddas från kriminalitet och olaglig verksamhet</mat-label>
                <mat-select panelClass="security" [(ngModel)]="security_7" name="security_7">
                  <mat-option value="1">1</mat-option>
                  <mat-option value="2">2</mat-option>
                  <mat-option value="3">3</mat-option>
                  <mat-option value="4">4</mat-option>
                  <mat-option value="5">5</mat-option>
                </mat-select>

              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Barnet lever i en hemmiljö som är fri från missbruk, våld, försummelse och utnyttjande </mat-label>
                <mat-select panelClass="security" [(ngModel)]="security_8" name="security_8">
                  <mat-option value="1">1</mat-option>
                  <mat-option value="2">2</mat-option>
                  <mat-option value="3">3</mat-option>
                  <mat-option value="4">4</mat-option>
                  <mat-option value="5">5</mat-option>
                </mat-select>

              </mat-form-field>
              <div>
              <button mat-button matStepperPrevious>Tillbaka</button>
              <button mat-button matStepperNext>Nästa</button>
            </div>
          </form>
        </mat-step>
        

        <mat-step>
            <form id="feelgood-form">
              <ng-template matStepLabel>MÅ BRA</ng-template>
              <h5>MÅ BRA</h5>

              <mat-form-field appearance="fill">
                <mat-label>Barnet är frisk och upprätthåller god fysisk och psykisk hälsa</mat-label>
                <mat-select panelClass="feelgood" [(ngModel)]="feelgood_1" name="feelgood_1">
                  <mat-option value="1">1</mat-option>
                  <mat-option value="2">2</mat-option>
                  <mat-option value="3">3</mat-option>
                  <mat-option value="4">4</mat-option>
                  <mat-option value="5">5</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Barnet har en hälsosam livsstil</mat-label>
                <mat-select panelClass="feelgood" [(ngModel)]="feelgood_2" name="feelgood_2">
                  <mat-option value="1">1</mat-option>
                  <mat-option value="2">2</mat-option>
                  <mat-option value="3">3</mat-option>
                  <mat-option value="4">4</mat-option>
                  <mat-option value="5">5</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Barnet mår bra och ser positivt på framtiden</mat-label>
                <mat-select panelClass="feelgood" [(ngModel)]="feelgood_3" name="feelgood_3">
                  <mat-option value="1">1</mat-option>
                  <mat-option value="2">2</mat-option>
                  <mat-option value="3">3</mat-option>
                  <mat-option value="4">4</mat-option>
                  <mat-option value="5">5</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Barnet kan hantera svårigheter och problem</mat-label>
                <mat-select panelClass="feelgood" [(ngModel)]="feelgood_4" name="feelgood_4">
                  <mat-option value="1">1</mat-option>
                  <mat-option value="2">2</mat-option>
                  <mat-option value="3">3</mat-option>
                  <mat-option value="4">4</mat-option>
                  <mat-option value="5">5</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Barnet deltar vid kontroller/besök som ska ge barnet stöd/hjälp</mat-label>
                <mat-select panelClass="feelgood" [(ngModel)]="feelgood_5" name="feelgood_5">
                  <mat-option value="1">1</mat-option>
                  <mat-option value="2">2</mat-option>
                  <mat-option value="3">3</mat-option>
                  <mat-option value="4">4</mat-option>
                  <mat-option value="5">5</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Barnet uppvisar inte negativa eller destruktiva beteenden</mat-label>
                <mat-select panelClass="feelgood" [(ngModel)]="feelgood_6" name="feelgood_6">
                  <mat-option value="1">1</mat-option>
                  <mat-option value="2">2</mat-option>
                  <mat-option value="3">3</mat-option>
                  <mat-option value="4">4</mat-option>
                  <mat-option value="5">5</mat-option>
                </mat-select>
              </mat-form-field>
              <div>    
                <button mat-button matStepperPrevious>Tillbaka</button>
                <button mat-button matStepperNext>Nästa</button>
              </div>
            </form>
          </mat-step>


          <mat-step>
            <form id="freetime-form">
              <ng-template matStepLabel>FRITID</ng-template>
              <h5>FRITID</h5>

                <mat-form-field appearance="fill">
                    <mat-label>Barnet och familjen är aktiva tillsammans och gör saker som barnet tycker är roligt</mat-label>
                    <mat-select panelClass="freetime" [(ngModel)]="freetime_1" name="freetime_1">
                      <mat-option value="1">1</mat-option>
                      <mat-option value="2">2</mat-option>
                      <mat-option value="3">3</mat-option>
                      <mat-option value="4">4</mat-option>
                      <mat-option value="5">5</mat-option>
                    </mat-select>
                      </mat-form-field>
                  <mat-form-field appearance="fill">
                    <mat-label>Barnet uppmuntras att vara aktiv utifrån sin förmåga, tex deltar i  lek, friluftsliv och idrottsaktiviteter</mat-label>
                    <mat-select panelClass="freetime" [(ngModel)]="freetime_2" name="freetime_2">
                      <mat-option value="1">1</mat-option>
                      <mat-option value="2">2</mat-option>
                      <mat-option value="3">3</mat-option>
                      <mat-option value="4">4</mat-option>
                      <mat-option value="5">5</mat-option>
                    </mat-select>
                      </mat-form-field>
                  <mat-form-field appearance="fill">
                    <mat-label>Barnet uppmuntras och ges förutsättningar för att utveckla egna intressen och att delta i aktiviteter som är stimulerande</mat-label>
                    <mat-select panelClass="freetime" [(ngModel)]="freetime_3" name="freetime_3">
                      <mat-option value="1">1</mat-option>
                      <mat-option value="2">2</mat-option>
                      <mat-option value="3">3</mat-option>
                      <mat-option value="4">4</mat-option>
                      <mat-option value="5">5</mat-option>
                    </mat-select>
                      </mat-form-field>
                <div>
                <button mat-button matStepperPrevious>Tillbaka</button>
                <button mat-button matStepperNext>Nästa</button>
              </div>
            </form>
          </mat-step>
    
          <mat-step>
            <form id="beloning-form">
              <ng-template matStepLabel>TILLHÖRIGHET</ng-template>
              <h5>TILLHÖRIGHET</h5>

              <mat-form-field appearance="fill">
                <mat-label>Barnet känner sig viktig och uppskattad av de som tar hand om hen</mat-label>
                <mat-select panelClass="beloning" [(ngModel)]="beloning_1" name="beloning_1">
                  <mat-option value="1">1</mat-option>
                  <mat-option value="2">2</mat-option>
                  <mat-option value="3">3</mat-option>
                  <mat-option value="4">4</mat-option>
                  <mat-option value="5">5</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Barnet känner sig viktig och uppskattad av barn och vuxna som finn i dess närhet</mat-label>
                <mat-select panelClass="beloning" [(ngModel)]="beloning_2" name="beloning_2">
                  <mat-option value="1">1</mat-option>
                  <mat-option value="2">2</mat-option>
                  <mat-option value="3">3</mat-option>
                  <mat-option value="4">4</mat-option>
                  <mat-option value="5">5</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Familjen har ett socialt nätverk som deltar aktivt i barnets liv</mat-label>
                <mat-select panelClass="beloning" [(ngModel)]="beloning_3" name="beloning_3">
                  <mat-option value="1">1</mat-option>
                  <mat-option value="2">2</mat-option>
                  <mat-option value="3">3</mat-option>
                  <mat-option value="4">4</mat-option>
                  <mat-option value="5">5</mat-option>
                </mat-select>
              </mat-form-field>
          <div>
                
                <button mat-button matStepperPrevious>Tillbaka</button>
                <button mat-button matStepperNext>Nästa</button>
              </div>
            </form>
          </mat-step>


          <mat-step>
            <form id="responsibility-form">
              <ng-template matStepLabel>ANSVARSTAGANDE</ng-template>
              <h5>ANSVARSTAGANDE</h5>

              <mat-form-field appearance="fill">
                <mat-label>Barnet deltar i undervisningen i skolan</mat-label>
                <mat-select panelClass="responsibility" [(ngModel)]="responsibility_1" name="responsibility_1">
                  <mat-option value="1">1</mat-option>
                  <mat-option value="2">2</mat-option>
                  <mat-option value="3">3</mat-option>
                  <mat-option value="4">4</mat-option>
                  <mat-option value="5">5</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Barnet kan förstå och följa regler</mat-label>
                <mat-select panelClass="responsibility" [(ngModel)]="responsibility_2" name="responsibility_2">
                  <mat-option value="1">1</mat-option>
                  <mat-option value="2">2</mat-option>
                  <mat-option value="3">3</mat-option>
                  <mat-option value="4">4</mat-option>
                  <mat-option value="5">5</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Barnet vet vad som är rätt och fel och agerar utifrån det</mat-label>
                <mat-select panelClass="responsibility" [(ngModel)]="responsibility_3" name="responsibility_3">
                  <mat-option value="1">1</mat-option>
                  <mat-option value="2">2</mat-option>
                  <mat-option value="3">3</mat-option>
                  <mat-option value="4">4</mat-option>
                  <mat-option value="5">5</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Barnet tar ansvar för sina handlingar</mat-label>
                <mat-select panelClass="responsibility" [(ngModel)]="responsibility_4" name="responsibility_4">
                  <mat-option value="1">1</mat-option>
                  <mat-option value="2">2</mat-option>
                  <mat-option value="3">3</mat-option>
                  <mat-option value="4">4</mat-option>
                  <mat-option value="5">5</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Barnet förstår vad som förväntas av hen och tar ansvar hemma, i skolan och i närmiljön.</mat-label>
                <mat-select panelClass="responsibility" [(ngModel)]="responsibility_5" name="responsibility_5">
                  <mat-option value="1">1</mat-option>
                  <mat-option value="2">2</mat-option>
                  <mat-option value="3">3</mat-option>
                  <mat-option value="4">4</mat-option>
                  <mat-option value="5">5</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Barnet visar hänsyn och omtanke om andra</mat-label>
                <mat-select panelClass="responsibility" [(ngModel)]="responsibility_6" name="responsibility_6">
                  <mat-option value="1">1</mat-option>
                  <mat-option value="2">2</mat-option>
                  <mat-option value="3">3</mat-option>
                  <mat-option value="4">4</mat-option>
                  <mat-option value="5">5</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Barnet har bra förebilder i sin närhet</mat-label>
                <mat-select panelClass="responsibility" [(ngModel)]="responsibility_7" name="responsibility_7">
                  <mat-option value="1">1</mat-option>
                  <mat-option value="2">2</mat-option>
                  <mat-option value="3">3</mat-option>
                  <mat-option value="4">4</mat-option>
                  <mat-option value="5">5</mat-option>
                </mat-select>
              </mat-form-field>
              <div>
                
                <button mat-button matStepperPrevious>Tillbaka</button>
                <button mat-button matStepperNext>Nästa</button>
              </div>
            </form>
          </mat-step>

          <mat-step>
            <form id="respekt-form">
              <ng-template matStepLabel>RESPEKTERAS</ng-template>
              <h5>RESPEKTERAS</h5>

              <mat-form-field appearance="fill">
                <mat-label>Barnet känner sig lyssnad till, tagen på allvar och är delaktig i viktiga vardagsbeslut</mat-label>
                <mat-select panelClass="respekt" [(ngModel)]="respekt_1" name="respekt_1">
                  <mat-option value="1">1</mat-option>
                  <mat-option value="2">2</mat-option>
                  <mat-option value="3">3</mat-option>
                  <mat-option value="4">4</mat-option>
                  <mat-option value="5">5</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Barnet har en bra självkänsla och ser sig själv som värdeful</mat-label>
                <mat-select panelClass="respekt" [(ngModel)]="respekt_2" name="respekt_2">
                  <mat-option value="1">1</mat-option>
                  <mat-option value="2">2</mat-option>
                  <mat-option value="3">3</mat-option>
                  <mat-option value="4">4</mat-option>
                  <mat-option value="5">5</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Barnet känner att vänner och andra tror på dess förmåga och stöttar hen</mat-label>
                <mat-select panelClass="respekt" [(ngModel)]="respekt_3" name="respekt_3">
                  <mat-option value="1">1</mat-option>
                  <mat-option value="2">2</mat-option>
                  <mat-option value="3">3</mat-option>
                  <mat-option value="4">4</mat-option>
                  <mat-option value="5">5</mat-option>
                </mat-select>
              </mat-form-field>  
              <mat-form-field appearance="fill">
                <mat-label>Barnet känner sig inte retad, utsatt/utstött  eller kränkt av andra</mat-label>
                <mat-select panelClass="respekt" [(ngModel)]="respekt_4" name="respekt_4">
                  <mat-option value="1">1</mat-option>
                  <mat-option value="2">2</mat-option>
                  <mat-option value="3">3</mat-option>
                  <mat-option value="4">4</mat-option>
                  <mat-option value="5">5</mat-option>
                </mat-select>
              </mat-form-field>  

              <div>
                <button mat-button matStepperPrevious>Tillbaka</button>
                <button mat-button matStepperNext>Nästa</button>
              </div>
            </form>
          </mat-step>

          <mat-step>
            <form id="develop-form">
              <ng-template matStepLabel>UTVECKLAS</ng-template>
              <h5>UTVECKLAS</h5>

              <mat-form-field appearance="fill">
                <mat-label>Barnet utvecklas och lär sig nya saker i olika miljöer</mat-label>
                <mat-select panelClass="develop" [(ngModel)]="develop_1" name="develop_1">
                  <mat-option value="1">1</mat-option>
                  <mat-option value="2">2</mat-option>
                  <mat-option value="3">3</mat-option>
                  <mat-option value="4">4</mat-option>
                  <mat-option value="5">5</mat-option>
                </mat-select>
              </mat-form-field>  

              <mat-form-field appearance="fill">
                <mat-label>Barnet är nyfiket och motiverat till att lära sig nya saker</mat-label>
                <mat-select panelClass="develop" [(ngModel)]="develop_2" name="develop_2">
                  <mat-option value="1">1</mat-option>
                  <mat-option value="2">2</mat-option>
                  <mat-option value="3">3</mat-option>
                  <mat-option value="4">4</mat-option>
                  <mat-option value="5">5</mat-option>
                </mat-select>
              </mat-form-field>  

              <mat-form-field appearance="fill">
                <mat-label>Barnet uppnår kunskapskraven för sin åldern</mat-label>
                <mat-select panelClass="develop" [(ngModel)]="develop_3" name="develop_3">
                  <mat-option value="1">1</mat-option>
                  <mat-option value="2">2</mat-option>
                  <mat-option value="3">3</mat-option>
                  <mat-option value="4">4</mat-option>
                  <mat-option value="5">5</mat-option>
                </mat-select>
              </mat-form-field>  

              <mat-form-field appearance="fill">
                <mat-label>Barnet har utvecklat förmågor för att klara av och hantera sin vardag</mat-label>
                <mat-select panelClass="develop" [(ngModel)]="develop_4" name="develop_4">
                  <mat-option value="1">1</mat-option>
                  <mat-option value="2">2</mat-option>
                  <mat-option value="3">3</mat-option>
                  <mat-option value="4">4</mat-option>
                  <mat-option value="5">5</mat-option>
                </mat-select>
              </mat-form-field>  

              <mat-form-field appearance="fill">
                <mat-label>Barnet har engagerade vuxna i sin närhet som stöttar hen i sin utveckling och i sitt lärande</mat-label>
                <mat-select panelClass="develop" [(ngModel)]="develop_5" name="develop_5">
                  <mat-option value="1">1</mat-option>
                  <mat-option value="2">2</mat-option>
                  <mat-option value="3">3</mat-option>
                  <mat-option value="4">4</mat-option>
                  <mat-option value="5">5</mat-option>
                </mat-select>
              </mat-form-field>  

              <div>
                <button mat-button matStepperPrevious>Tillbaka</button>
                <button mat-button (click)="send()">Skicka in</button>
            </div>
            </form>
          </mat-step>
      </mat-stepper>
      
</div>