h1{
    font-size: 30px;
    font-weight: bold;
  }

  h4{
    font-size: 20px;
  }

  .mat-drawer-container {
    width: 98%;
    background-color: whitesmoke;
    margin-bottom: 30px;
  }
  
  .example-sidenav-content {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .mat-drawer-sidenav {
    padding: 20px;
    width: 60%;
    background-color: whitesmoke;
  }
  
  .category{
    margin-top: 5px;
    margin-left: 15px;
  }

  .table-container {
    width: 98%;
  }
    
  table {
    width: 60%;
    background-color: whitesmoke;
    margin-bottom: 30px;
    border-collapse: collapse;
    padding: 5px;
    margin-left: 10px;
  }

  #sidenav-table {
    width: 100%;
    overflow-x: scroll;
    margin-top: 24px;
  }

  th{
    text-align: left;
    font-size: 15px;
  }

  td, th, tr{
    color: black;
    padding: 8px;
  }

  tr{
    border-bottom: 1px solid lightgray;
  }
  p{
    margin-top: 15px;
    color: brown;
    font-size: 15px;
  }

  textarea{
    border: 1px solid gray;
    color: black;
    width: 100%;
    background-color: whitesmoke;
  }

  mat-select{
    border: 1px solid gray;
    width: 40px;
  }

  button{
    background-color: #cde7e6;
    width: 15%;
    margin-left: 5%;
    margin-top: 10px;
    color: black;
  }
  
::ng-deep .mat-select-value{
  color: black !important;
}

::ng-deep .mat-option.mat-selected:not(.mat-option-disabled){
  color: white !important;
}

::ng-deep .mat-select-arrow{
  color: gray;
}

.show-more{
  color: white;
  width: 25%;
  margin-bottom: 30px;
  margin-left: 10px;
}

@media screen and (max-width: 1024px){
  .show-more{
    width: 40%;
  }
  
}

@media screen and (max-width: 1000px){
  .formButton{
    width: 40%;
    margin-left: 6.5%;
  }
  
}