<div class="container">

    <h1>Skattningsformulär</h1>
    <h4>För personal</h4>


    <div class="example-container mat-elevation-z8">
      <table mat-table [dataSource]="dataSource">
    
        <!-- Name Column -->
        <ng-container matColumnDef="name" sticky>
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
    
        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let element"> {{element.position}} </td>
        </ng-container>
    
        <!-- Weight Column -->
        <ng-container matColumnDef="weight">
          <th mat-header-cell *matHeaderCellDef> Weight </th>
          <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
        </ng-container>
    
        <!-- Symbol Column -->
        <ng-container matColumnDef="symbol">
          <th mat-header-cell *matHeaderCellDef> Symbol </th>
          <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
        </ng-container>
    
        <!-- Star Column -->
        <ng-container matColumnDef="star" stickyEnd>
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <mat-icon>more_vert</mat-icon>
          </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    
<!-- 
    <mat-stepper #stepper orientation="vertical" >

      <mat-step *ngFor="let step of questions; let index1=index" 
      [stepControl]="step.stepControl" errorMessage="ett fält saknas poäng.">

      <div [formGroup]="step.stepControl" id="{{step.id}}">        

        <ng-template matStepLabel>{{step.area}}</ng-template>
        <h5>{{step.area}}</h5>

        <div *ngFor="let step_question of step.question; let index2=index">
          <h4>{{step_question.text}}</h4>

          <mat-button-toggle-group
          (change)="changeScore($event.value, index1, index2)" 
          aria-label="Font Style" formControlName="{{step_question.formControlScore}}">

            <mat-button-toggle [value]="1">1</mat-button-toggle>
            <mat-button-toggle [value]="2">2</mat-button-toggle>
            <mat-button-toggle [value]="3">3</mat-button-toggle>
            <mat-button-toggle [value]="4">4</mat-button-toggle>
            <mat-button-toggle [value]="5">5</mat-button-toggle>
          </mat-button-toggle-group>

        </div>

        <div>
          <mat-form-field appearance="fill">
            <mat-label>kommentar: ​</mat-label>
            <textarea matInput [(ngModel)]="comments[index1]" [ngModelOptions]="{standalone: true}"></textarea>
          </mat-form-field>

          <button mat-button matStepperPrevious *ngIf="index1!=0">Tillbaka</button>
          <button mat-button matStepperNext *ngIf="index1!=7">Nästa</button>
          <button mat-button matStepperNext *ngIf="index1==7" (click)="send()">Skicka</button>

      </div>

      </div>

      </mat-step>

    </mat-stepper>
    <p>{{saveError}}</p>
 -->
</div>