<div class="container">
    <h1>Skapa barnteam</h1>

    <button class="back-button" mat-icon-button routerLink="/barnteam">
        <span class="material-icons"> arrow_back </span>
     Tillbaka
  </button>
  
  <div class="form-container" [formGroup]="createBarnteamFormGroup" (change)= "isDirty= true">

  <mat-form-field class="fixed-length" cappearance="fill">
    <mat-label>Namn</mat-label>
    <input matInput formControlName="nameControl">
  </mat-form-field>
  <p>{{nameError}}</p>

</div>

 <mat-form-field appearance="fill">
  <mat-label>Enheter</mat-label>
  <mat-select [formControl]="units" multiple>
    <mat-select-trigger>
      {{units.value ? units.value[0] : ''}}
      <span *ngIf="units.value?.length > 1">
        (+{{units.value.length - 1}} {{units.value?.length === 2 ? 'other' : 'others'}})
      </span>
    </mat-select-trigger>
    <mat-option *ngFor="let unit of unitList" [value]="unit" (click)="isDirty= true">{{unit}}</mat-option>
  </mat-select>
</mat-form-field>
<p>{{unitError}}</p>

<mat-form-field appearance="fill">
  <mat-label>Medlemmer</mat-label>
  <mat-select [formControl]="medlems" multiple >
    <mat-select-trigger>
      {{medlems.value ? medlems.value[0] : ''}}
      <span *ngIf="medlems.value?.length > 1">
        (+{{medlems.value.length - 1}} {{medlems.value?.length === 2 ? 'other' : 'others'}})
      </span>
    </mat-select-trigger>
    <mat-option *ngFor="let medlem of medlemList" [value]="medlem" (click)="isDirty= true">{{medlem}}</mat-option>
  </mat-select>
</mat-form-field>
<p>{{memberError}}</p>

<p style="margin-top: 20px;">{{saveError}}</p>

<button mat-raised-button (click)="create()">Skapa</button>

</div>