<div class="container">
<h1>Samtycke</h1>


<table>
    <tr>
    <th></th>
    <th>Barn</th>
    <th>Vårdnadshavare 1</th>
    <th>Vårdnadshavare 2</th>
    <th>Inhämtat av</th>
    <th>Var ligger skriftligt samtycke</th>
    </tr>
    <tr>
    <td>Uptäckerkort (muntligt)</td>
    <td><mat-checkbox ></mat-checkbox></td>
    <td><mat-checkbox ></mat-checkbox></td>
    <td><mat-checkbox ></mat-checkbox></td>
    <td><input matInput placeholder="" value=""></td>
<td></td>
    </tr>
    <tr>
    <td>Barnteam (skriftligt)</td>
    <td><mat-checkbox ></mat-checkbox></td>
    <td><mat-checkbox ></mat-checkbox></td>
    <td><mat-checkbox ></mat-checkbox></td>
    <td><input matInput placeholder="" value=""></td>
    <td><input matInput placeholder="" value=""></td>
</tr>
    <tr>
    <td>Individuell Barnteam (skriftligt)</td>
    <td><mat-checkbox ></mat-checkbox></td>
    <td><mat-checkbox ></mat-checkbox></td>
    <td><mat-checkbox ></mat-checkbox></td>
    <td><input matInput placeholder="" value=""></td>
    <td><input matInput placeholder="" value=""></td>
</tr>
  </table>

</div>