<div class="container">
<h1>Samtycke</h1>


<mat-card>
    <mat-card-content>
        <mat-grid-list cols="4" rowHeight="80px">
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <p></p>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <p>Barn</p>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <p>Vårdnadshavare 1</p>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <p>Vårdnashavare 2</p>
            </mat-grid-tile>


            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <p>Uptäckerkort (muntligt)</p>
            </mat-grid-tile>
           
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-checkbox ></mat-checkbox>
            </mat-grid-tile>            
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-checkbox ></mat-checkbox>
            </mat-grid-tile>            
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-checkbox ></mat-checkbox>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <p></p>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <form>
                    <mat-form-field appearance="fill">
                      <mat-label>Inhämtat av</mat-label>
                      <input matInput placeholder="" value="">
                    </mat-form-field>
                  </form>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="2" [rowspan]="1">
                <p></p>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <p>Barnteam (skriftligt)</p>
            </mat-grid-tile>
           
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-checkbox ></mat-checkbox>
            </mat-grid-tile>            
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-checkbox ></mat-checkbox>
            </mat-grid-tile>            
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-checkbox ></mat-checkbox>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <p></p>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <form>
                    <mat-form-field appearance="fill">
                      <mat-label>Inhämtat av</mat-label>
                      <input matInput placeholder="" value="">
                    </mat-form-field>
                  </form>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="2" [rowspan]="1">
                <form>
                    <mat-form-field appearance="fill">
                <mat-label>Var ligger skriftligt samtycke</mat-label>
                <input matInput placeholder="" value="">
              </mat-form-field>
                  </form>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <p>Individuell Barnteam (skriftligt)</p>
            </mat-grid-tile>
           
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-checkbox ></mat-checkbox>
            </mat-grid-tile>            
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-checkbox ></mat-checkbox>
            </mat-grid-tile>            
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-checkbox ></mat-checkbox>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <p></p>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <form>
                    <mat-form-field appearance="fill">
                      <mat-label>Inhämtat av</mat-label>
                      <input matInput placeholder="" value="">
                    </mat-form-field>
                  </form>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="2" [rowspan]="1">
                <form>
                    <mat-form-field appearance="fill">
                <mat-label>Var ligger skriftligt samtycke</mat-label>
                <input matInput placeholder="" value="">
              </mat-form-field>
                  </form>
            </mat-grid-tile>

        </mat-grid-list>
    </mat-card-content>
  </mat-card>


</div>