<div class="container">
<h1>Samtycke</h1>


<table role="table">
    <thead role="rowgroup">
      <tr role="row">
        <th role="columnheader"></th>
        <th role="columnheader">Barn</th>
        <th role="columnheader">Vårdnadshavare 1</th>
        <th role="columnheader">Vårdnadshavare 2</th>
        <th role="columnheader">Inhämtat av</th>
        <th role="columnheader">Var ligger skriftligt samtycke</th>
       
      </tr>
    </thead>
    <tbody role="rowgroup">
      <tr role="row">
        <td role="cell">Uptäckerkort (muntligt)</td>
        <td role="cell"><mat-checkbox ></mat-checkbox></td>
        <td role="cell"><mat-checkbox ></mat-checkbox></td>
        <td role="cell"><mat-checkbox ></mat-checkbox></td>
        <td role="cell">
            <mat-form-field appearance="fill">
                <input matInput>
              </mat-form-field>
        </td>
        <td role="cell">
            <mat-form-field appearance="fill" class="mat-form-field-disabled">
                <input matInput disabled>
              </mat-form-field>
        </td>
      </tr>
      <tr role="row">
        <td role="cell">Barnteam (skriftligt)</td>
        <td role="cell"><mat-checkbox ></mat-checkbox></td>
        <td role="cell"><mat-checkbox ></mat-checkbox></td>
        <td role="cell"><mat-checkbox ></mat-checkbox></td>
        <td role="cell">
            <mat-form-field appearance="fill">
                <input matInput>
              </mat-form-field>
        </td>
        <td role="cell">
            <mat-form-field appearance="fill">
                <input matInput>
              </mat-form-field>
        </td>
      </tr>
      <tr role="row">
        <td role="cell">Individuell Barnteam (skriftligt)</td>
        <td role="cell"><mat-checkbox ></mat-checkbox></td>
        <td role="cell"><mat-checkbox ></mat-checkbox></td>
        <td role="cell"><mat-checkbox ></mat-checkbox></td>
        <td role="cell">
            <mat-form-field appearance="fill">
                <input matInput>
              </mat-form-field>
        </td>
        <td role="cell">
            <mat-form-field appearance="fill">
                <input matInput>
              </mat-form-field>
        </td>
      </tr>
    </tbody>
  </table>

  <button mat-raised-button >Spara</button>


</div>