  
    h1{
        font-size: 30px;
        font-weight: bold;
    }
 
    mat-card{
        background-color: whitesmoke;
        color: black;
    }

mat-label{
    color: black;
}

::ng-deep.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: lightgreen !important;;
   }

