h1 {
  font-size: 30px;
  font-weight: bold;
}
h4 {
  font-size: 14px;
  margin-right: 12px;
  margin-bottom: 0px;
  font-weight: bold;
}
p {
  margin-bottom: 0px;
  font-size: 14px;
  margin-right: 12px;
}
.mat-list-item {
  color: black;
}

.mat-list-item {
  border-bottom: 1px solid lightgray;
}

table {
  width: 100%;
  background-color: whitesmoke;
  border-collapse: collapse;
  padding: 5px;
}
th {
  text-align: left;
  font-size: 15px;
}

td,
th,
tr {
  color: black;
  padding: 8px;
}

tr {
  border-bottom: 1px solid lightgray;
}

.table_white_background {
  background-color: white;
}

.material-icons {
  font-size: 30px;
  color: #663399;
}
.create {
  font-size: 25px;
  color: #663399;
}

.back-button {
  color: #663399;
  size: 16px;
}

.edit-button {
  color: #663399;
  background-color: transparent;
  margin-left: 80%;
}

@media screen and (max-width: 900px) {
  h4 {
    font-size: 14px;
    font-weight: normal;
  }
  p {
    font-size: 12px;
  }
}
