<div class="container">
    <h1>Upptäckarkortet</h1>

    <mat-list *ngIf="(current_card$ | async) as current_card">
        <mat-list-item><strong>Datum:</strong>
          {{current_card.gradedOn}}</mat-list-item>

        <mat-divider></mat-divider>
        <mat-list-item><strong>Upptäckarens namn:</strong>
          {{current_card.userName}}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item><strong>Upptackarens organisation:</strong>
          {{current_card.userOrg}}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item><strong>Upptäckarens title:</strong>
          {{current_card.userTitle}}</mat-list-item>

        <mat-divider></mat-divider>
        <mat-list-item><strong>Barnets namn:</strong>
          {{current_card.personName}}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item><strong>Barnets personnummer:</strong>
          {{current_card.personNbr}}</mat-list-item>

        <mat-divider></mat-divider>
        <mat-list-item><strong>Vårdnadshavare 1 namn:</strong>
          {{current_card.guardian1}}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item><strong>Vårdnadshavare 1 personnummer:</strong>
          {{current_card.guardianPersonNbr1}}</mat-list-item>

        <mat-divider></mat-divider>
        <mat-list-item><strong>BarnKontakt:</strong>
          {{current_card.healthTeam}}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item><strong>Situationen där barnets upptäckts:</strong>
          {{current_card.situation}}</mat-list-item>

      </mat-list>

</div>