<div class="container">
    <h1>Upptäckarkortet</h1>

    <mat-list *ngIf="(current_card$ | async) as current_card">
        <mat-list-item>
          <h4>Datum: </h4>
          <p>{{current_card.gradedOn.slice(0, 10)}}</p>
        </mat-list-item>

        <mat-divider></mat-divider>
        <mat-list-item>
          <h4>Upptäckarens namn:</h4>
          <p>{{current_card.userName}}</p></mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <h4>Upptackarens organisation:</h4>
          <p>{{current_card.userOrg}}</p></mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <h4>Upptäckarens title:</h4>
          <p>{{current_card.userTitle}}</p></mat-list-item>

        <mat-divider></mat-divider>
        <mat-list-item>
          <h4>Barnets namn:</h4>
          <p>{{current_card.personName}}</p></mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <h4>Barnets personnummer:</h4>
          <p>{{current_card.personNbr}}</p></mat-list-item>

        <mat-divider></mat-divider>
        <mat-list-item>
          <h4>Vårdnadshavare 1 namn:</h4>
          <p>{{current_card.guardian1}}</p></mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <h4>Vårdnadshavare 1 personnummer:</h4>
          <p>{{current_card.guardianPersonNbr1}}</p></mat-list-item>

          <mat-divider></mat-divider>
          <mat-list-item>
            <h4>Vårdnadshavare 2 namn:</h4>
            <p>{{current_card.guardian2}}</p></mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <h4>Vårdnadshavare 2 personnummer:</h4>
            <p>{{current_card.guardianPersonNbr2}}</p></mat-list-item>
  
        <mat-divider></mat-divider>
        <mat-list-item>
          <h4>healthTeam:</h4>
          <p>{{current_card.healthTeam}}</p></mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <h4>Situationen där barnets upptäckts:</h4>
          <p>{{current_card.situation}}</p></mat-list-item>
          <mat-divider></mat-divider>


            <div class="table-container" *ngIf="(current_card$ | async) as current_card">      
              <table role="table">
              <thead role="rowgroup">
                <tr role="row">
                <th role="columnheader">Frågan</th>
                <th role="columnheader">Betyg</th>
                <th role="columnheader">Komment</th>
              </tr>
            </thead>

            <tbody role="rowgroup">
             <tr role="row" *ngFor="let question of QuestionTextData; let i= index;">
              <td *ngIf="i < 8 ">{{question.text}}</td>
              <td *ngIf="i < 8 ">{{current_card.grades[i]}}</td>
              <td *ngIf="i < 8 ">{{current_card.comments[i]}}</td>
             </tr>
            </tbody>
            </table>
            <mat-divider></mat-divider>  

            <div *ngFor="let question of QuestionTextData; let i= index;">
              <mat-list-item *ngIf="i == 8 " style="height: 80px !important;">
                <h4 >{{question.text}}</h4>
                <p *ngIf="current_card.grades[i] != '0'">Ja</p>
                <p *ngIf="current_card.grades[i] == '0'">Nej</p>
                <p>{{current_card.comments[i]}}</p>
                </mat-list-item>

                <mat-list-item *ngIf="i > 8 " style="height: 90px !important;">
                  <h4>{{question.text}}</h4>
                  <p *ngIf="current_card.grades[i] == '2'">Ja, båda</p>
                  <p *ngIf="current_card.grades[i] == '1'">Ja, en av dem</p>
                  <p *ngIf="current_card.grades[i] == '0'">Nej</p>
                    </mat-list-item>
  
                <mat-divider></mat-divider>
    
            </div>
          </div>
  
      </mat-list>

</div>