mat-toolbar {
    background: #663399;
    color: white;
}

mat-sidenav {
    width: 230px;
    border-right: none;
    background: #663399;
    color: white;
    h2{
        text-align: center;
    }
}

mat-sidenav-container{
    background-color: white;
    width: 100%;
    height: 100%;
    color: black;
}



.name {
    margin-top: 8px;
    font-weight: normal;
    padding: 10px;
}


mat-divider {
    background-color: rgba(255, 255, 255, 0.5);
}

h4{
font-size: 40px;
font-weight: bold;
}

.mat-menu-item {
    font-size: 1rem;
    border: none;
    padding: 5px;
    display: flex;
    padding-left: 15px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  
  button.mat-menu-item:hover{
      background-color: white;
      color: #663399 !important;
  }
  
  ::ng-deep .mat-menu-item-checked{
    background-color: white !important;
    color: #663399 !important;
}

  ::ng-deep .mat-button-toggle-label-content{
    font-size: 16px;
  }

  
  ::ng-deep .mat-button-toggle {
      border: none !important;
      background-color: #663399 !important;
  }
  
  ::ng-deep .mat-button-toggle:hover {
      border: 1px #000 solid !important;
      background-color: #FFF !important;
      border-radius: 5px !important;
      color: #663399 !important;
  }
  
  ::ng-deep .mat-button-toggle-checked {
      border: 1px #000 solid !important;
      border-radius: 5px !important;
      background-color: #FFF !important;
      color: #663399 !important;
  }
  ::ng-deep .mat-button-toggle-group {
    border: none !important;
}

::ng-deep .mat-button-toggle-label-content{
    text-align: left;
}

@media only screen and (min-width: 800px) {
    mat-toolbar {
        display: none;
      }
  }

