<mat-toolbar class="mat-elevation-z8">
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">
            menu
        </mat-icon>
        <mat-icon *ngIf="sidenav.opened">
            close
        </mat-icon>
    </button>
    Backa Barnet
  </mat-toolbar>
  
    <mat-sidenav-container>
      <mat-sidenav  #sidenav="matSidenav" class="mat-elevation-z8">
 
  <h2 class="name">Kalle Karlson</h2>
  
  <mat-divider></mat-divider>

  <mat-button-toggle-group vertical= "true">

    <mat-button-toggle (click)="changeShowFillerContact()"> 
        <span>Barn & Kontakt</span>
        <span class="material-icons" >{{showFillerContactIcon}}</span>
    </mat-button-toggle>

      <button mat-menu-item  (click)="changeShowFillerContact()" routerLink="/contact" *ngIf="showFillerContact">Barnlista</button>
      <button mat-menu-item  (click)="changeShowFillerContact()" *ngIf="showFillerContact" routerLink="/contact-person">Kontaktinfo Barn</button>
      <button mat-menu-item (click)="changeShowFillerContact()" *ngIf="showFillerContact" routerLink="/contact-guardian">Kontaktpersoner</button>
      

  <mat-divider></mat-divider>

  <mat-button-toggle routerLink="/consent">Samtycke</mat-button-toggle>

        <mat-divider></mat-divider>
        <mat-button-toggle routerLink="/create-discover-card">Upptäckarkort</mat-button-toggle>

        <mat-divider></mat-divider>

        <mat-button-toggle (click)="need_compass= !need_compass">
            <span>Behovskompass</span>
            <span class="material-icons">expand_more</span>
        </mat-button-toggle>

          <button mat-menu-item (click)="need_compass= !need_compass" *ngIf="need_compass" routerLink="/conversation-material">Samtalsunderlag</button>
          <button mat-menu-item (click)="need_compass= !need_compass" *ngIf="need_compass" routerLink="/need-compass">Behovskompassar</button>
          <button mat-menu-item (click)="need_compass= !need_compass" *ngIf="need_compass" routerLink="/estimate">Skattningar</button>
    
        <mat-divider></mat-divider>
       
        <mat-button-toggle  routerLink="/goal">Barnets Mål</mat-button-toggle>

        <mat-divider></mat-divider>
        <mat-button-toggle (click)="deep_need_compass= !deep_need_compass">
            <span>Fördjupat Behovskompass</span>
            <span class="material-icons">expand_more</span>
        </mat-button-toggle>

        <button mat-menu-item (click)="deep_need_compass= !deep_need_compass" *ngIf="deep_need_compass" routerLink="/deep-need-compass">Fördjupat Behovskompass</button>
        <button mat-menu-item (click)="deep_need_compass= !deep_need_compass" *ngIf="deep_need_compass" routerLink="/assessment">Bedömning</button>

        <mat-divider></mat-divider>
        <mat-button-toggle (click)="event= !event">
            <span>Händelse & plan</span>
            <span class="material-icons">expand_more</span>
        </mat-button-toggle>

        <button mat-menu-item (click)="event= !event" *ngIf="event" routerLink="/event">Händelse</button>
        <button mat-menu-item (click)="event= !event" *ngIf="event" routerLink="/plan">Min plan framåt</button>
  
        <mat-divider></mat-divider>
        <mat-button-toggle routerLink="/admin">Admin </mat-button-toggle>

        <mat-divider></mat-divider>

    </mat-button-toggle-group>

    </mat-sidenav>
  
        <mat-sidenav-content>
            <router-outlet></router-outlet>          
          
        </mat-sidenav-content>
    </mat-sidenav-container>