mat-toolbar {
    background: #663399;
    color: white;
}

mat-sidenav {
    width: 230px;
    border-right: none;
    background: #663399;
    h2{
        text-align: center;
    }
}

mat-sidenav-container{
    background-color: white;
    width: 100%;
    height: 100%;
    color: black;
}

.name {
    margin-top: 8px;
    font-weight: normal;
    padding: 10px;
}


mat-divider {
    background-color: rgba(255, 255, 255, 0.5);
}

h4 {
    font-size: 40px;
    font-weight: bold;
}

#landing-sidebar {
    border: none;
    width: 100%; 
}

.mat-button-toggle {
    border: none;
    background-color: #663399;
    color: white;
    height: 48px;
}

 .mat-button-toggle.mat-button-toggle-checked {
    background-color: white;
    color:  #663399;
}

.under-button{
    background-color: rgb(179,154,204);
    text-indent: 18px;

}

::ng-deep .mat-button-toggle-label-content {
        padding-left: 0px !important;
        padding-right: 0px !important;
        text-align: left;
        text-indent: 12px;
    }

@media only screen and (min-width: 800px) {
    mat-toolbar {
        display: none;
      }
  }

