<mat-toolbar class="mat-elevation-z8">
    <mat-button-toggle mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">
            menu
        </mat-icon>
        <mat-icon *ngIf="sidenav.opened">
            close
        </mat-icon>
    </mat-button-toggle >
    Backa Barnet
  </mat-toolbar>
  
    <mat-sidenav-container>
      <mat-sidenav  #sidenav="matSidenav" class="mat-elevation-z8">
 
  <h2 class="name" *ngIf="(current_person$ | async) as current_person">{{current_person.firstName}} {{current_person.lastName}}</h2>
  
  <mat-divider></mat-divider>


<mat-button-toggle-group id='landing-sidebar' vertical= "true">

    <mat-button-toggle  (click)="changeShowFillerContact()"> 
        <span>Barn & Kontakt</span>
        <span class="material-icons" >{{showFillerContactIcon}}</span>
    </mat-button-toggle >

    <div *ngIf="showFillerContact">
      <mat-button-toggle  routerLink="/contact"><span>Barnlista</span></mat-button-toggle >
      <mat-divider></mat-divider>
      <mat-button-toggle  routerLink="/contact-person"><span>Kontaktinfo Barn</span></mat-button-toggle >
      <mat-divider></mat-divider>
      <mat-button-toggle  routerLink="/contact-guardian"><span>Kontaktpersoner</span></mat-button-toggle >
    </div>


      <mat-divider></mat-divider>

        <mat-button-toggle  routerLink="/consent">Samtycke</mat-button-toggle >

        <mat-divider></mat-divider>
        <mat-button-toggle  routerLink="/create-discover-card">Upptäckarkort</mat-button-toggle >

        <mat-divider></mat-divider>

        <mat-button-toggle  (click)="changeShowFillerNeedCompass()">
            <span>Behovskompass</span>
            <span class="material-icons">{{showFillerCompassIcon}}</span>
        </mat-button-toggle >

        <div *ngIf="need_compass">
          <mat-button-toggle  routerLink="/conversation-material">Samtalsunderlag</mat-button-toggle >
          <mat-divider></mat-divider>
          <mat-button-toggle  routerLink="/need-compass">Behovskompassar</mat-button-toggle >
          <mat-divider></mat-divider>
          <mat-button-toggle  routerLink="/estimate">Skattningar</mat-button-toggle >
        </div>

        <mat-divider></mat-divider>
       
        <mat-button-toggle routerLink="/goal">Barnets Mål</mat-button-toggle >

        <mat-divider></mat-divider>
        <mat-button-toggle  (click)="changeShowFillerDeepCompass()">
            <span>Fördjupat Behovskompass</span>
            <span class="material-icons">{{showFillerDeepCompassIcon}}</span>
        </mat-button-toggle >

        <div *ngIf="deep_need_compass">
        <mat-button-toggle  routerLink="/deep-need-compass">Fördjupat Behovskompass</mat-button-toggle >
        <mat-divider></mat-divider>
        <mat-button-toggle  routerLink="/assessment">Bedömning</mat-button-toggle >
    </div>

        <mat-divider></mat-divider>
        <mat-button-toggle  (click)="changeShowFillerEvent()">
            <span>Händelse & plan</span>
            <span class="material-icons">{{showFillerEventIcon}}</span>
        </mat-button-toggle >

        <div *ngIf="event" >
        <mat-button-toggle  routerLink="/event">Händelse</mat-button-toggle >
        <mat-divider></mat-divider>
        <mat-button-toggle  routerLink="/plan">Min plan framåt</mat-button-toggle >
        </div>

        <mat-divider ></mat-divider>
        <mat-button-toggle  routerLink="/admin">Admin </mat-button-toggle >

        <mat-divider></mat-divider>

    </mat-button-toggle-group>

    </mat-sidenav>
  
        <mat-sidenav-content>
            <router-outlet></router-outlet>          
          
        </mat-sidenav-content>
    </mat-sidenav-container>