<div class="container">
    <h1>Händelser</h1>
    <h4>Insatser ch viktiga händelser i Kalles liv</h4>

    <h5>Händelse</h5>
    <mat-form-field appearance="fill">
        <input matInput>
      </mat-form-field>

      <h5>Detta stöd gavs</h5>
      <mat-form-field appearance="fill">
        <input matInput>
      </mat-form-field>


      <h5>Mina medhjälpare</h5>
      <mat-form-field class="half-width" appearance="fill">
        <mat-label>Namn</mat-label>
        <input matInput>
      </mat-form-field> 
      <mat-form-field class="half-width" appearance="fill">
        <mat-label>Profession</mat-label>
        <input matInput>
      </mat-form-field>

      <button mat-raised-button routerLink="/event">Spara</button>

</div>