<div class="container">
    <h1>Kontaktuppgifter</h1>
    <h4>Barnkontakt och Stödsamordnare</h4>

<div *ngIf="(current_person$ | async) as current_person">

<div class="person-container">
    <span class="material-icons">person</span>
    <h4>Barnkontakt</h4>

<mat-form-field appearance="fill">
    <mat-label>Namn</mat-label>
    <input matInput disabled value="{{contacts[0].firstName}} {{contacts[0].lastName}}">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Kontaktuppgifter</mat-label>
    <input matInput disabled value="{{contacts[0].phoneNbr}}">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Arbetsplats</mat-label>
    <input matInput disabled value="{{contacts[0].employer}}">
  </mat-form-field>

</div>


<div class="person-container">
    <span class="material-icons">person</span>
    <h4>Stödsamordnare</h4>

<mat-form-field appearance="fill">
    <mat-label>Namn</mat-label>
    <input matInput disabled value="{{contacts[1].firstName}} {{contacts[1].lastName}}">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Kontaktuppgifter</mat-label>
    <input matInput disabled value="{{contacts[1].phoneNbr}}">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Arbetsplats</mat-label>
    <input matInput disabled value="{{contacts[1].employer}}">
  </mat-form-field>
</div>


<button *ngIf="userRoleId== '2'" mat-raised-button routerLink="/edit-contact-guardian">Ändra</button>
</div>
<div>
