<div class="container">
    <h1>Kontaktuppgifter</h1>
<h4>Barnkontakt och Stödsamordnare</h4>


<div class="person-container">
    <span class="material-icons">person</span>
    <h4>Barnkontakt</h4>

<mat-form-field appearance="fill">
    <mat-label>Namn</mat-label>
    <input matInput>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Kontaktuppgifter</mat-label>
    <input matInput>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Arbetsplats</mat-label>
    <input matInput>
  </mat-form-field>

</div>


<div class="person-container">
    <span class="material-icons">person</span>
    <h4>Stödsamordnare</h4>

<mat-form-field appearance="fill">
    <mat-label>Namn</mat-label>
    <input matInput>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Kontaktuppgifter</mat-label>
    <input matInput>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Arbetsplats</mat-label>
    <input matInput>
  </mat-form-field>
</div>


  <button mat-raised-button>Spara</button>

</div>