<div class="container">
    <h1>Barnteam</h1>

    <div class="search">
      <mat-form-field appearance="standard">
        <mat-label>Sök - namn eller datum
        </mat-label>
        <input matInput (keyup)="applyFilter($event)" #input>  
      </mat-form-field>
      <button mat-raised-button routerLink="/create-barnteam">Nytt barnteam</button>
    </div>
      <h2>Lista med barnteam</h2>
         
  
  <table role="table">
    <thead role="rowgroup">
      <tr role="row">
        <th role="columnheader">Datum</th>
        <th role="columnheader">Namn</th>
      </tr>
    </thead>
    <tbody role="rowgroup" *ngIf="!filterStatus">
      <tr role="row" *ngFor="let team of teams; let i= index" (click)="setCurrentAdminTeam(team)">
        <td role="cell">{{team.createdOn.slice(0, 10)}}</td>
        <td role="cell">{{team.teamName}}</td>
      </tr>
    </tbody>
    <tbody *ngIf="filterStatus">
      <tr role="row" *ngFor="let team of searchteams; let i= index" (click)="setCurrentAdminTeam(team)">
        <td role="cell">{{team.createdOn.slice(0, 10)}}</td>
        <td role="cell">{{team.teamName}}</td>
      </tr>
    </tbody>
  </table>


</div>