<div class="container">
    <h1>Rättigheter</h1>

    <div class="search">
      <mat-form-field appearance="standard">
        <mat-label>Sök - användarens namn, barnets namn, eller typ
        </mat-label>
        <input matInput (keyup)="applyFilter($event)" #input>
      </mat-form-field>
      <button mat-raised-button routerLink="/create-rights">Ny rättighet</button>
    </div>
  
    <h2>Rättighetlista</h2>
  
    <table role="table">
      <thead role="rowgroup">
        <tr role="row">
          <th role="columnheader">Användares namn</th>
          <th role="columnheader">barn namn</th>
          <th role="columnheader">typ av rättighet</th>
        </tr>
      </thead>
      <tbody role="rowgroup" *ngIf="!filterStatus">
        <tr role="row" *ngFor="let right of usersRights; let i= index" (click)="setCurrentUserRight(right)">
          <td role="cell">{{right.userFirstName}} {{right.userLastName}}</td>
          <td role="cell">{{right.firstName}} {{right.lastName}}</td>
          <td role="cell" *ngIf="right.questionTypeID == '1'">Samtalsunderlag</td>
          <td role="cell"*ngIf="right.questionTypeID == '2'">Skattning</td>

        </tr>
      </tbody>
      <tbody *ngIf="filterStatus">
        <tr role="row" *ngFor="let right of searchUsersRights; let i= index" (click)="setCurrentUserRight(right)">
          <td role="cell">{{right.userFirstName}} {{right.userLastName}}</td>
          <td role="cell">{{right.firstName}} {{right.lastName}}</td>
          <td role="cell" *ngIf="right.questionTypeID == '1'">Samtalsunderlag</td>
          <td role="cell"*ngIf="right.questionTypeID == '2'">Skattning</td>

        </tr>
      </tbody>
    </table>
</div>