<div class="container">
    <h1>Min plan framåt</h1>
    <h4>Lägg till ny insats</h4>


    <h5>Händelse</h5>
    <mat-form-field appearance="fill">
        <input matInput>
      </mat-form-field>

      <h5>Planerad insats</h5>
      <mat-form-field appearance="fill">
        <input matInput>
      </mat-form-field>

      <div class="container-2">
        <h5>Ansvariga för insatsen</h5>
        <mat-form-field appearance="fill">
          <mat-label>Namn</mat-label>
          <input matInput>
        </mat-form-field> 
        <mat-form-field appearance="fill">
          <mat-label>Profession</mat-label>
          <input matInput>
        </mat-form-field>
      </div>

      <div class="container-2">
        <h5>Start datum</h5>
        <mat-form-field appearance="fill">
          <input matInput>
        </mat-form-field>
    </div>

      <button mat-raised-button routerLink="/plan">Spara</button>

</div>