/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container{
    margin: 5%;
    padding: 5px;
    color: black;
    }
  
    .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
        background-color:black !important;
      }

      .mat-radio-button.mat-accent .mat-radio-outer-circle {
        border-color: lightgray;
    }
    
    .mat-form-field-ripple {
        background-color: lightgreen !important;;
       }
    
     .mat-checkbox.mat-accent .mat-checkbox-background,.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
        background-color: lightgray !important;
      }

    
  mat-radio-button{
    color: black;
}


/* To display a border for the input */
.mat-form-field{
  border: 1px solid #663399 !important;
  margin-bottom: 2px;
}
