<div class="container">
    <h1>Upptäckarkort</h1>

    
  <div class="search">
    <mat-form-field appearance="standard">
      <mat-label> Sök - Datum, namn, Av, Organisation eller status</mat-label>
      <input matInput (keyup)="applyFilter($event)" #input>
    </mat-form-field>
  </div>


  

<table role="table">
  <thead role="rowgroup">
    <tr role="row">
      <th role="columnheader">Datum</th>
      <th role="columnheader">Barn</th>
      <th role="columnheader">Av</th>
      <th role="columnheader">Organisation</th>
      <th role="columnheader">Upptäckarkortets status</th>     
      <th role="columnheader"></th>     

    </tr>
  </thead>
  <tbody role="rowgroup" *ngIf="searchCards.length==0">
    <tr role="row" *ngFor="let card of cards; let i= index" (click)="moveToCard(card)">
      <td role="cell">{{card.gradedOn.slice(0, 10)}}</td>
      <td role="cell">{{card.personName}}</td>
      <td role="cell">{{card.userName}}</td>
      <td role="cell">{{card.userOrg}}</td>
      <td role="cell">{{card.status}}</td>
      <td role="cell">
        <button mat-icon-button class="edit-button" *ngIf="card.status=='Sparat'" (click)="moveToEditCard(card)">
          <span class="material-icons"> create </span>
          Ändra
          </button>
      </td>
       
    </tr>
  </tbody>
  <tbody *ngIf="searchCards.length!=0">
    <tr role="row" *ngFor="let card of searchCards; let i= index" (click)="moveToCard(card)">
      <td role="cell">{{card.gradedOn.slice(0, 10)}}</td>
      <td role="cell">{{card.personName}}</td>
      <td role="cell">{{card.userName}}</td>
      <td role="cell">{{card.userOrg}}</td>
      <td role="cell">{{card.status}}</td>
      <td role="cell">
        <button mat-icon-button class="edit-button" *ngIf="card.status=='Sparat'" (click)="moveToEditCard(card)">
          <span class="material-icons"> create </span>
          Ändra
          </button>
      </td>
       
    </tr>
  </tbody>
</table>


<!-- 
    <div class="table-container">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        
          <ng-container matColumnDef="gradedOn">
            <th mat-header-cell *matHeaderCellDef> Datum </th>
            <td mat-cell *matCellDef="let element"> {{element.gradedOn.slice(0, 10)}} </td>
          </ng-container>
        
          <ng-container matColumnDef="personName">
            <th mat-header-cell *matHeaderCellDef> Barn </th>
            <td mat-cell *matCellDef="let element"> {{element.personName}} </td>
          </ng-container>

          <ng-container matColumnDef="userName">
            <th mat-header-cell *matHeaderCellDef> Av </th>
            <td mat-cell *matCellDef="let element"> {{element.userName}} </td>
          </ng-container>
      
          <ng-container matColumnDef="userOrg">
            <th mat-header-cell *matHeaderCellDef> Organisation </th>
            <td mat-cell *matCellDef="let element"> {{element.userOrg}} </td>
          </ng-container>

           <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Upptäckarkortets status </th>
            <td mat-cell *matCellDef="let element"> {{element.status}} </td>     
          </ng-container>

          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button class="edit-button" *ngIf="element.status=='Sparat'" (click)="moveToEditCard(element)">
                <span class="material-icons"> create </span>
                Ändra
                </button> 
            </td>
          </ng-container>


          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"
          (click)="moveToCard(row)"></tr>
          
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">Ingen data som matchar din sökning "{{input.value}}"</td>
          </tr>
        </table>
        </div>
 -->
</div>