h1{
    font-size: 30px;
    font-weight: bold;
}
table {
    width: 100%;
    background-color: whitesmoke;
  }
  td, th, tr{
    color: black;
  }

  td{
    cursor: pointer;
  }
  
  .table-container {
    position: relative;
    min-height: 200px;
    max-height: 600px;
    overflow: auto;
  }

  mat-label{
    color: black;
    }

    .mat-form-field {
        font-size: 14px;
        width: 60%;
        margin-bottom: 15px;
        height: 55px;
      }

      .edit-button{
        color: #663399;
      }

      @media screen and (max-width: 900px){
        .search{
        display: flex;
        flex-direction: column;
        }
    
        .mat-form-field {
        margin-left: 20%;
        }
      }