h1{
    font-size: 30px;
    font-weight: bold;
}
table {
    width: 60%;
    background-color: lightgray;
  }
  td, th, tr{
    color: black;
  }
  
  .table-container {
    position: relative;
    min-height: 200px;
    max-height: 600px;
    overflow: auto;
  }

  mat-label{
    color: black;
    }

    .search{
        width: 100%;
      }

    .mat-form-field {
        font-size: 14px;
        width: 60%;
        border-bottom: solid;
        margin-bottom: 15px;
      }

      button{
        margin-left: 10%;
        width: 30%;
        background-color: lightgreen;
        color: black;
      }

      @media screen and (max-width: 900px){
        .search{
        display: flex;
        flex-direction: column;
        }
    
        button{
          width: 50%;
          margin-left: 25%;
          margin-top: 10px;
          margin-top: 10px;
          margin-bottom: 15px;
        }
        .mat-form-field {
        margin-left: 20%;
        }
        table{
            margin-left: 20%;
        }
      }