h1{
    font-size: 30px;
    font-weight: bold;
}
  
.form-container{
    background-color: whitesmoke;
    color: black;
    padding: 10px;;
}
mat-label{
    color: black;
}

.full-width{
    width: 100%;
}

.mat-datepicker-toggle{
    color: #663399;
}

mat-form-field{
    margin-right: 10%;
    width: 40%;
    color: black;
    margin-bottom: 10px;
}

mat-checkbox{
    padding: 5px;
    width: 10%;
    color: black;
}

mat-card-title, mat-card-subtitle{
    color: black;
}

mat-card-title{
    text-align: center;
}



.card-container{
    padding: 10px;
    margin: 10px;
    border-radius: 15px;

}

.section {
    padding: 10px;
    display: flex;
    height: 60px;
  }

  label, mat-radio-button{
      margin-right: 10px;
  }

  button{
    margin-left: 10%;
    width: 20%;
    background-color: lightgreen;
    color: black;
    margin-bottom: 15px;
  }

  .cancel-button{
    background-color: #FF0000;
  }

  .save-button{
    background-color:lightgray;
  }

  mat-card{
    background-color: whitesmoke;
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
    margin-right: 5%;
  }

  .comment{
      height: 60px;
  }
  .container-grid {
    .grid-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(30rem, 2fr));
      grid-gap: 1em;
    }
  
  }

  .discover-card-button{
      width: 35%;
      margin-left: 65%;
      margin-bottom: 20px;;
  }

  mat-radio-button{
    margin-bottom: 20px;
  }

  .card-container{
    height: 100px;
  }

  @media screen and (max-width: 800px){
  
    .discover-card-button{
      margin-left: 15%;
      width: 70%;
    }
    mat-form-field{
      width: 100%;
    }
    .container-grid {
      .grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
      }
    }

    .section {
      padding: 10px;
      display: flex;
      height: 90px;
    }
    .section-height{
      height: 110px;
    }
    button{
      width: 40%;
      margin-left: 30%;
    }

  }